<div class="row">
    <div class="col-md-12">
        <span class="pull-right" style="font-size: 10pt; border: solid 1pt white; padding: 7pt 10pt;">Images</span>
        <a class="btn btn-primary pull-left" style="padding: 7pt 25pt;" href="/images/add" role="button">Add Image</a>
        <hr />
    </div>

    {{#each data}}
    <div class="col-md-4">
        <div>
            <p>{{this.images}}</p>
        </div>
        <img src="/images/uploaded/{{this}}" class="img-responsive img-thumbnail" />
    </div>
    {{else}}
    <div class="col-md-12 text-center">
        <strong>No Images Available</strong>
    </div>
    {{/each}}

</div>