
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400|Raleway:300);
@import url('https://fonts.googleapis.com/css?family=Work+Sans:300');


body {
  font-family: 'Work Sans';
  font-size: 11pt;
  color: whitesmoke;
  /* background: #06D6A0; */
  background: #222;
}
legend { 
  width: unset;
  color: whitesmoke;
  font-family: 'Work Sans';
  text-align: center;
  margin-bottom: 5pt;
  border: none;
}

.skewed-bg {
  background: #00B285;
  padding: 200px 0;
  transform: skew(0deg, -10deg);
  margin-top: -200px;
}

.content {
  transform: skew(0deg, 10deg);
  /* text-align: center; */
}
.footer {
  padding-top: 300px;
}
.credits {
  text-align: center;
  color: #666;
}
.link {
  color: #00B285;
  text-decoration: none;
}


.navbar {
  background-color: #1e1a3e;
  font-family: Raleway;
  font-size: 12pt;
}

.form-control, select.form-control {
  border-radius: 0;
}

.box {
  border-top: solid 5px rgba(255, 255, 255, 0.8);
  padding: 30pt;
  margin: 10pt 0pt;
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 50pt 10pt rgba(43, 43, 43, 0.3);
  /* transition-delay: 1000ms; */
  transition: all 0.5s ease-in-out;
}
.box:hover {
  box-shadow: 0 0 15pt 5pt rgba(43, 43, 43, 0.15);
  background-color: rgba(0, 0, 0, 0.78);
  transform: scale(1.01);
}

table {
  display: table;
  border-collapse: separate;
  border-spacing: 2px;
  border-color: grey;
  border-collapse: collapse;
  border-spacing: 0;
}
td, th {
  display: table-cell;
  vertical-align: inherit;
}

tbody td {
  border-color: #f1f3f5;
  padding: 3rem;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  font-family: 'Work Sans';
  font-size: 10pt;
}

.navbar li {
  transition: all 0.3s ease-out;
}

.navbar li.active {
  border-bottom: solid 3px rgb(51, 38, 235);
  margin-bottom: -5pt;
}
.navbar li:hover {
  border-bottom: solid 3px rgba(0, 80, 253, 1);
  margin-bottom: -5pt;
}

h2 { padding-top: 0;margin-top: 0; font-family: 'Work Sans'; font-size: 20pt; font-weight: 600;}

.btn, .btn-primary {
  border-radius: 0;
  background-color: transparent;
  border-color: white;
  padding: 10pt 20pt;
  transition: all 0.25s ease-out;
}

.btn-primary:hover, .btn-primary.active:hover {
  background-color: rgba(255, 255, 255, 0.9);
  border-color: rgba(245,245,245,0.8);
  color: black;
  /* transform: scale(1.1); */
}

.btn-primary.active {
  background-color: rgba(255, 255, 255, 0.7);
  border-color: whitesmoke;
  color: grey;
}
.skewed-bg .content {
  margin-top: -130pt;
  margin-bottom: -80pt;
}

.shadow {
  box-shadow: 0 0 30pt 5pt rgba(43, 43, 43, 0.3);
}